 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>BTL lap trinh mang</title>


    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/style.css" />



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
    <script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script>
  </head>
  <body>
    <div class="container has-text-centered" v-cloak id="app">
      <h1 class="title">
            Zoom
      </h1>

      <div>
        <button class="button is-primary" v-if="!room" @click="createRoom">
          Tạo Meeting
        </button>

        <button class="button is-info" v-if="!room" @click="joinWithId">
          Join Meeting
        </button>

        <button class="button is-info" v-if="room" @click="publish(true)">
          Share Desktop
        </button>
      </div>

      <div v-if="roomId" class="info">
        <p>Bạn đang ở trong room <strong>{{roomId}}</strong>.</p>
        <p>
        Link
          <a v-bind:href="roomUrl" target="_blank">{{roomUrl}}</a>.
        </p>

      </div>
    </div>

    <div class="container">
      <div id="videos"></div>
    </div>
  </body>
  <script src="/api.js"></script>
  <script type="module" src="script.js"></script>
  <script src="/vite.config.js"></script>
  <!-- <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAuZKqdyC8UuoQDr-8pe0PINo6vuRsJjQk",
      authDomain: "ltm5-3afba.firebaseapp.com",
      databaseURL: "https://ltm5-3afba-default-rtdb.firebaseio.com",
      projectId: "ltm5-3afba",
      storageBucket: "ltm5-3afba.firebasestorage.app",
      messagingSenderId: "797421000508",
      appId: "1:797421000508:web:7afecc6f06f3d519fc3039",
      measurementId: "G-2EJPLL7MTX"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script> -->
</html> 




